<%- include('../partials/header', { title: 'Ajouter une catégorie' }) %>

<h2>Ajouter une catégorie</h2>

<% if (error) { %>
    <div class="alert alert-danger"><%= error %></div>
<% } %>

<form action="/categories/add" method="POST">
    <div class="mb-3">
        <label class="form-label">Nom de la catégorie :</label>
        <input type="text" name="name" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Ajouter</button>
</form>

<%- include('../partials/footer') %>